

.logo2 {
  background-image: url("https://image.freepik.com/free-photo/3d-render-space-background-with-abstract-planets-nebula_1048-12994.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  position: absolute;
  z-index: 1;
  left: 145px;
  top: 140px;
  transition: filter .4s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  &:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  @media (max-width: 1100px) {
    width: 180px;
    height: 180px;
    left: 115px;
    top: 180px;
  }

  @media (max-width: 800px) {
    top: 10px;
    left: 47px;
    width: 100px;
    height: 100px;
  }


  .text {
    position: absolute;
    width: 230px;
    z-index: 3;
    left: 11px;
    top: 64px;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 65px;
    color: white;

    @media (max-width: 1100px) {
      top: 56px;
      width: 170px;
      font-size: 41px
    }

    @media (max-width: 800px) {
      top: 29px;
      left: 5px;
      width: 100px;
      font-size: 29px
    }

  }
}

.text2 {
  position: absolute;
  z-index: 3;
  left: 61px;
  top: 205px;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 63px;

  @media (max-width: 1100px) {
    left: 55px;
    top: 236px;
    width: 100px;
    font-size: 45px
  }

  @media (max-width: 800px) {
    left: 15px;
    top: 42px;
    width: 100px;
    font-size: 24px
  }

}